<h1>Países</h1>
<hr>

<mat-toolbar class="button-container">

  <button mat-flat-button
    [routerLink]="['./by-capital']"
    routerLinkActive="active"
    color="primary" class="mr-2">
    Por capital
  </button>

  <button mat-flat-button
    [routerLink]="['./by-country']"
    routerLinkActive="active"
    color="primary" class="mr-2">
    Por país
  </button>

  <button mat-flat-button
    [routerLink]="['./by-region']"
    routerLinkActive="active"
    color="primary" class="mr-2">
    Por región
  </button>

  <button mat-flat-button
    [routerLink]="['./bandera-pais']"
    routerLinkActive="active"
    color="primary">
    Bandera País
  </button>

</mat-toolbar>
