<ng-container *ngIf="countries.length === 0; else table">
  <div class="mat-alert mat-alert-warning text-center">
    No hay países que mostrar
  </div>
</ng-container>

<ng-template #table>
  <table class="mat-table mat-table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td>
          <img [src]="country.flags.svg" [alt]="country.name.common">
        </td>
        <td>{{ country.name.common }}</td>
        <td>{{ country.capital }}</td>
        <td>{{ country.population | number }}</td>
      </tr>
    </tbody>
  </table>
</ng-template>
